- path = @publication.new_record? ? publications_path : publication_path(@publication)
= form_for @publication, url: path, html: { multipart: true } do |f|
  end
  - if @publication.errors.any?
    #error_explanation
      %h2= "#{pluralize(@publication.errors.count, "error")} prohibited this publication from being saved:"
      %ul
        - @publication.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :project
    = f.collection_select(:project_id, current_user.all_projects, :id, :name)
  .form-group
    = f.label :bibtex
    = f.text_area :bibtex, class: "form-control", rows: 20
  .form-group
    = f.label :pdf
    = f.file_field :pdf, class: "form-control"

  .actions
    = f.submit 'Save'
