.publication.publication_block
  %a.col-sm-8{href: publication_path(publication)}
    %h4= publication.author
    %h5= publication.title
    %code.ref{id: publication.ref}=publication.ref
  .col-sm-4
    %span.input-group-btn
      %button{class: "btn btn-default clipboard-btn align-right", data: {clipboard_action: "copy", clipboard_target: "##{ publication.ref }"}} Copy ref
    

