.hidden.publications#index
.panel
  =form_tag publications_path, class: "form form-horizontal", method: :get do
    =label_tag :filter, nil, class: "col-sm-1 control-label"
    .col-sm-8
      =text_field_tag :filter, nil, class: "form-control", value: @query
    =submit_tag 'Apply', class: "btn btn-default col-sm-2"

  - if @publications.empty?
    %p No publications found
  - else 
    .infinite-table
      - @publications.each do |publication|
        = render partial: 'publication_block', object: publication, as: 'publication'





  = link_to 'New Publication', new_publication_path
