.hidden.publications#edit
%p#notice= notice
.panel.panel-default
  .panel-heading
    %h3.panel-title= @publication.author
    %h5= @publication.title
    %h6
      Project:
      =link_to @publication.project.name, project_path(@publication.project)
  .panel-body
    .form-group
      %label \cite{}
      .input-group
        %input.form-control#ref{type: :text, value: @publication.ref}/
        %span.input-group-btn
          =fa_icon "copy", class: "btn btn-default clipboard-btn", data: {clipboard_action: "copy", clipboard_target: "#ref"}
    .form-group
      %label BibTeX
      %pre#bibtex= @publication.bibtex
      %span.input-group-btn
        %button{class: "btn btn-default clipboard-btn", data: {clipboard_action: "copy", clipboard_target: "#bibtex"}} Copy BibTeX to clipboard
    - if @publication.pdf.present?
      .form-group
        %label PDF 
        %iframe{src: @publication.pdf.url, class: "pdf form-control"}
      =button_to 'Download PDF', publication_pdf_path(@publication), target: "_blank", type: "button", class: "btn btn-default", method: :get
    - if current_user.can_write @publication.project
      = link_to 'Edit', edit_publication_path(@publication)
