%p#notice= notice
.infinite-table
  - @microposts.each do |mp|
    = render partial: 'micropost_block', object: mp, as: 'mp'
  %p.pagination
    = link_to_next_page(@microposts, 'Next Page', remote: true)
%br/
