%h1 Welcome to Mindshot
- if user_signed_in?
  %p= link_to 'Your microposts', microposts_path
  %p= link_to 'All microposts', microposts_path(allusers: true)
  %p= link_to 'Log out', destroy_user_session_path, method: :delete
- else
  = link_to :new_user_session, 'Login'
  or #{link_to :new_user_registration, 'register'} .
