= form_for @project, html: { class: " form-horizontal" } do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  =f.hidden_field :owner_id
  .form-group
    =f.label :name, class: "control-label col-sm-2"
    .col-sm-10
      =f.text_field :name, class: 'form-control'
  .form-group
    =f.label :git_url, class: "control-label col-sm-2"
    .col-sm-10
      =f.text_field :git_url, class: 'form-control'
  .form-group
    =f.label :description, class: "control-label col-sm-2"
    .col-sm-10
      =f.text_area :description, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      -if @action == :edit
        = f.submit 'Save', class: 'btn btn-default'
      -else
        = f.submit 'Create', class: 'btn btn-default'


