.hidden.projects#index
.panel 
  .row
    .col-md-8
      %h2 My projects
    .col-md-4
      %a.btn.btn-primary.align-right{href: new_project_path}
        Create project
  - @own_projects.each do |project|
    .well.well-sm
      .project.own-project{id: "id#{project.id}"}
        %a.project-name{href: project_path(project)}= project.name
        - is_current = project == current_user.current_project
        -cl = is_current ? "is-current btn btn-success disabled" : "is-not-current btn btn-default"
        -text = is_current ? "Current" : "Make current"
        -icon = is_current ? "check-square-o" : "square-o"
        =link_to project_set_as_current_path(project), class: "project-is-current-indicator #{cl} align-right" do 
          = fa_icon icon
          = text
          

        .project-privacy-indicator.align-right{class: project.is_shared_with_link ? "project-shared-with-link" : ""}
        %a.project-edit-link.align-right{href: edit_project_path(project), class: "btn btn-default"}
          = fa_icon "pencil"
  %h2 Projects shared with me
  - @projects.each do |project|
    - project_class, access_indicator_class = case project.level
    - when 'r'
      -["project-readable", "project-access-indicator-readable"]
    - when 'w'
      -["project-writeable", "project-access-indicator-writeable"]
    - when 'm'
      -["project-manageable", "project-access-indicator-manageable"]
    .well.well-sm
      .project{class: project_class, id: "id#{project.id}"}
        %a.project-name{href: project_path(project) }= project.name
        .project-access-indicator.align-right{class: access_indicator_class}
        - if project.level.in? %w[w m]
          - is_current = project == current_user.current_project
          -cl = is_current ? "is-current btn btn-success disabled" : "is-not-current btn btn-default"
          -text = is_current ? "Current" : "Make current"
          -icon = is_current ? "check-square-o" : "square-o"
          =link_to project_set_as_current_path(project), class: "project-is-current-indicator #{cl} align-right" do 
            = fa_icon icon
            = text
        - if current_user.can_manage(project)
          %a.project-edit-link{href: edit_project_path(project), class: "btn btn-default"}
            = fa_icon "pencil"



//        %a.project-name{href: project_path(project)}= project.name
//        - if current_user.can_manage(project)
//          %a.project-edit-link{href: edit_project_path(project), class: "btn btn-default"}
//            = fa_icon "pencil"
