.hidden.projects#sharesettings
.alert.alert-danger.modal#change-permission-error
  Couldn't change permission

.panel
  .panel-body
    %h3 Share settings

    =form_tag({controller: "projects", action: "share_with_user", id: @project.id}, method: "post", class: "form-horizontal", id: "share-user-add-user") do 
      .form-group
        =label_tag :username, nil, class: "control-label col-sm-2"
        .col-sm-6
          =text_field_tag :username, nil, class: "form-control"
        .col-sm-2 
          =submit_tag "Add user", class: "btn btn-default", data: {disable_with: false}

    #share-user-list
      .share-user.row
        .col-md-8
          .share-user-username=@project.owner.username
        .col-md-4
          .share-permission Owner
      - @project.users_with_permissions.each do |u|
        .share-user.row
          .hidden#username=u.username
          .col-sm-8
            .share-user-username=u.username
          .col-sm-4
            .hasJs#hasJs
              %select.share-permission{data: {username: u.username, level: u.level}, name: "level"}
                %option{value: 'r', selected: u.level == 'r'} Can read
                %option{value: 'w', selected: u.level == 'w'} Can write
                %option{value: 'm', selected: u.level == 'm'} Can manage
              =link_to "Kick", project_kick_user_path(@project), method: :post, class: "project-kick-user"
            %noscript
              :css
                .hasJs {display: none;}
              =form_tag project_set_user_permission_path(@project) do |f|
                =hidden_field_tag :username, u.username
                %select.share-permission{data: {username: u.username, level: u.level}, name: "level"}
                  %option{value: 'r', selected: u.level == 'r'} Can read
                  %option{value: 'w', selected: u.level == 'w'} Can write
                  %option{value: 'm', selected: u.level == 'm'} Can manage
                %button Save
              =link_to "Kick", project_kick_user_path(@project), method: :post , class: "project-kick-user"




    #examples-wrapper.hidden
      .share-user.row#example-share-user-row
        .hidden#username
        .col-md-8
          .share-user-username=@project.owner.username
        .col-md-4
          .hasJs#hasJs
            %select.share-permission{data: {username: '', level: 'r'}, name: "level"}
              %option{value: 'r'} Can read
              %option{value: 'w'} Can write
              %option{value: 'm'} Can manage
            =link_to "Kick", project_kick_user_path(@project), method: :post , class: "project-kick-user"

    .hidden
      #project_id=@project.id



