.hidden.projects#show
%p#notice= notice

.panel
  .wrapper{style: "display: block; overflow: hidden;"}
    %h3.project-name.col-sm-6=@project.name
    .col-sm-6
      -if @can_leave
        =link_to "Leave project", leave_project_path(@project), method: :post, data: {confirm: "Are you sure?"}, class: "btn btn-warning"
      -if @can_manage
        %a.project-share-link{href: project_sharesettings_path(@project), class: "btn btn-default align-right", name: "Share settings"} Share settings
        %a.btn.btn-default{href: edit_project_path(@project)} Edit
      - if current_user.can_write(@project)
        - is_current = @project == current_user.current_project
        -cl = is_current ? "is-current btn btn-success disabled" : "is-not-current btn btn-default"
        -text = is_current ? "Current" : "Make current"
        -icon = is_current ? "check-square-o" : "square-o"
        =link_to project_set_as_current_path(@project), class: "project-is-current-indicator #{cl} align-right" do 
          = fa_icon icon
          = text



     
    .col-sm-12
      %p.project-owner
        %b Owner: 
        = link_to "@#{@project.owner.username}", microposts_path(filter: "user:#{@project.owner.username}")
    .col-sm-12
      %p
        %b Git: 
        %a.project-git-url{href: @project.git_url}=@project.git_url
    .col-sm-12
      %a.project-microposts-link{href: project_microposts_path(@project), class: "btn btn-default"} Microposts
      %a.project-publications-link{href: project_publications_path(@project), class: "btn btn-default"} Publications
    .col-sm-12
      %h4 Description:
      %p.project-description= @project.description



    



