.panel.panel-default
  .panel-heading
    %h3.panel-title Access token
  .panel-body
    %input.form-control{:type => "text", :value => "#{current_user.authentication_token}"}/

.panel.panel-default
  .panel-heading
    %h3.panel-title Change password
  .panel-body
    = form_for(:user, as: current_user, url: settings_update_password_path, html: { method: :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .form-group
        = f.label :password, "New password"
        %br/
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
          %br/
        = f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control"
      .form-group
        = f.label :password_confirmation, "Confirm new password"
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
      = f.submit "Change my password", class: "btn btn-primary"






