.panel
  .hidden.users#show
  %p=link_to "Microposts", user_microposts_path(username: @user.username)
  %h3 Own projects
  -@own_projects.each do |p|
    %p=link_to "@#{p.owner.username}/#{p.name}", project_path(p)
  %h3 Participates in projects
  -@projects.each do |p|
    %p=link_to "@#{p.owner.username}/#{p.name}", project_path(p)

  .hidden.users#stats
  %h3
    Stats of 
    = "@#{@user.username}"
  #chart{data: {username: @user.username}}


