= form_with(model: micropost, local: true) do |form|
  - if micropost.errors.any?
    #error_explanation
      %h2
        = pluralize(micropost.errors.count, "error")
        prohibited this micropost from being saved:
      %ul
        - micropost.errors.full_messages.each do |message|
          %li= message
  .actions
    = form.submit
