- timestamp = mp.created_at.to_i.to_s
.panel.panel-default.micropost.micropost_block{:id => timestamp}
  .panel-heading
    %h6= mp.created_at.strftime('%d.%m.%y, %H:%M:%S')
    %h6
      = link_to "TeX", micropost_tex_path(mp.id), target: :_blank
      ,
      = link_to "Edit", edit_micropost_path(mp.id)
    %h6
      - if mp.in? current_user.current_report.microposts
        = link_to "Remove from current report", remove_mp_from_current_report_path(mp), method: :post, target: :_blank
      - else
        = link_to "Add to current report", add_mp_to_current_report_path(mp), method: :post, target: :_blank
    %h6
      Project:
      =link_to mp.project.name, project_path(mp.project)
    %h6
      Author:
      = link_to "@#{mp.user.username}", user_path(username: mp.user.username)
  .panel-body
    != mp.good_html
    - if mp.user_id == current_user.id
      = button_to "Delete", micropost_path(mp.id), method: :delete, class: "btn btn-warning"
