.panel.panel-default
  .panel-heading
    %h3.panel-title Edit micropost #{@micropost.id}
  .panel-body
    = form_for @micropost do |f|
      .form-group
        = f.label :project
        = f.collection_select(:project_id, current_user.all_projects, :id, :name, class: "form-control")
      .actions
        = f.submit 'Save', class: "btn btn-primary"

