.hidden.microposts#index
.panel
  =form_tag microposts_path, class: "form form-horizontal", style: "display: block; overflow: hidden", method: :get do
    =label_tag :filter, nil, class: "col-sm-1 control-label"
    .col-sm-8
      =text_field_tag :filter, nil, class: "form-control", value: @query
    =submit_tag 'Apply', class: "btn btn-default col-sm-2"
- if @microposts.empty?
  %p No microposts found
- else 
  .infinite-table{style: "display: block; overflow: hidden"}
    - @microposts.each do |mp|
      = render partial: 'micropost_block', object: mp, as: 'mp'
