// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require style

.micropost_block {
    width: 100%;
    background: white;
    -webkit-box-shadow: 6px 6px 44px -5px rgba(0,0,0,0.23);
    -moz-box-shadow: 6px 6px 44px -5px rgba(0,0,0,0.23);
    box-shadow: 6px 6px 44px -5px rgba(0,0,0,0.23);
//    padding: 10px;
//    margin-bottom: 20px;
}
