// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
//    width: 100%;
 //   padding: 1em; 

    display: block;
    line-height: 34px;
    overflow: hidden;
}
.project-name {
    display: inline-block;
    vertical-align: middle;
}
.project-edit-link {
    float: right;
}

