@import "twitter/bootstrap/variables.less";
iframe.pdf {
    width: 100%;
    height: 30em;
}

a:hover {
    cursor: pointer;
}

tr.clickable-row {


    &:hover {
        background-color: @gray-lighter;
        cursor: pointer;

    }
}

.publication_block {
    display: block;
    overflow: hidden;
    width: 100%;
    //background: white;
    //-webkit-box-shadow: 6px 6px 44px -5px rgba(0,0,0,0.23);
    //-moz-box-shadow: 6px 6px 44px -5px rgba(0,0,0,0.23);
    //box-shadow: 6px 6px 44px -5px rgba(0,0,0,0.23);
    padding: 10px;
    margin-bottom: 20px;
}
