= form_for @report, html: { class: " form-horizontal" } do |f|
  - if @report.errors.any?
    #error_explanation
      %h2= "#{pluralize(@report.errors.count, "error")} prohibited this report from being saved:"
      %ul
        - @report.errors.full_messages.each do |msg|
          %li= msg
  =f.hidden_field :owner_id
  .form-group
    =f.label :name, class: "control-label col-sm-2"
    .col-sm-10
      =f.text_field :name, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      -if @action == :edit
        = f.submit 'Save', class: 'btn btn-default'
      -else
        = f.submit 'Create', class: 'btn btn-default'


