.hidden.reports#index
.panel 
  .row
    .col-md-8
      %h2 My reports
    .col-md-4
      %a.btn.btn-primary.align-right{href: new_report_path}
        Create report
  - @own_reports.each do |report|
    .well.well-sm
      .report.own-report{id: "id#{report.id}"}
        %a.report-name{href: report_path(report)}= report.name
        - is_current = report == current_user.current_report
        -cl = is_current ? "is-current btn btn-success disabled" : "is-not-current btn btn-default"
        -text = is_current ? "Current" : "Make current"
        -icon = is_current ? "check-square-o" : "square-o"
        =link_to report_set_as_current_path(report), class: "report-is-current-indicator #{cl} align-right" do 
          = fa_icon icon
          = text
          

        .report-privacy-indicator.align-right{class: report.is_shared_with_link ? "report-shared-with-link" : ""}
        %a.report-edit-link.align-right{href: edit_report_path(report), class: "btn btn-default"}
          = fa_icon "pencil"
  %h2 Reports shared with me
  - @reports.each do |report|
    - report_class, access_indicator_class = case report.level
    - when 'r'
      -["report-readable", "report-access-indicator-readable"]
    - when 'w'
      -["report-writeable", "report-access-indicator-writeable"]
    - when 'm'
      -["report-manageable", "report-access-indicator-manageable"]
    .well.well-sm
      .report{class: report_class, id: "id#{report.id}"}
        %a.report-name{href: report_path(report) }= report.name
        .report-access-indicator.align-right{class: access_indicator_class}
        - if report.level.in? %w[w m]
          - is_current = report == current_user.current_report
          -cl = is_current ? "is-current btn btn-success disabled" : "is-not-current btn btn-default"
          -text = is_current ? "Current" : "Make current"
          -icon = is_current ? "check-square-o" : "square-o"
          =link_to report_set_as_current_path(report), class: "report-is-current-indicator #{cl} align-right" do 
            = fa_icon icon
            = text
        - if current_user.can_manage(report)
          %a.report-edit-link{href: edit_report_path(report), class: "btn btn-default"}
            = fa_icon "pencil"



//        %a.report-name{href: report_path(report)}= report.name
//        - if current_user.can_manage(report)
//          %a.report-edit-link{href: edit_report_path(report), class: "btn btn-default"}
//            = fa_icon "pencil"
