.hidden.reports#show
%p#notice= notice

.panel
  .wrapper{style: "display: block; overflow: hidden;"}
    %h3.report-name.col-sm-6=@report.name
    .col-sm-6
      -if @can_leave
        =link_to "Leave report", leave_report_path(@report), method: :post, data: {confirm: "Are you sure?"}, class: "btn btn-warning"
      -if @can_manage
        %a.report-share-link{href: report_sharesettings_path(@report), class: "btn btn-default align-right", name: "Share settings"} Share settings
        %a.btn.btn-default{href: edit_report_path(@report)} Edit
      - if current_user.can_write(@report)
        - is_current = @report == current_user.current_report
        -cl = is_current ? "is-current btn btn-success disabled" : "is-not-current btn btn-default"
        -text = is_current ? "Current" : "Make current"
        -icon = is_current ? "check-square-o" : "square-o"
        =link_to report_set_as_current_path(@report), class: "report-is-current-indicator #{cl} align-right" do 
          = fa_icon icon
          = text



     
    .col-sm-12
      %p.report-owner
        %b Owner: 
        = link_to "@#{@report.owner.username}", microposts_path(filter: "user:#{@report.owner.username}")
    .col-sm-12
    .col-sm-12
      %a.report-microposts-link{href: report_microposts_path(@report), class: "btn btn-default"} Microposts
      %a.report-publications-link{href: report_publications_path(@report), class: "btn btn-default"} Publications



    



