!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mindshot
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    //= javascript_include_tag "https://hypothes.is/embed.js", async: true, defer: true
    = mathjax_tag
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %a.navbar-brand{:href => "/"} Mindshot
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-left
            -if user_signed_in?
              %li= link_to 'Microposts', microposts_path
              //%li= link_to 'All microposts', microposts_path(allusers: true)
              %li= link_to 'Publications', publications_path
              %li= link_to 'Projects', projects_path
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to 'Log out', destroy_user_session_path, method: :delete
              %li= link_to 'Settings', settings_path
            - else
              %li= link_to 'Log in', new_user_session_path

    - flash_messages
    = yield
